:root {
  --color-fonts: #e0e1dd;
  --color-background: #1b263b;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

html {
  font-family: Inter;
}

.wrapper {
  color: var(--color-fonts);
  background-color: var(--color-background);
  padding-block-start: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin-block-end: 2rem;
}

.weapons {
  display: flex;
  gap: 4rem;
  margin-block: 3rem;
}

i {
  font-size: 6rem;
  cursor: pointer;
}

input[type='button'] {
  all: unset;
  cursor: pointer;
  border: 1px solid var(--color-fonts);
  padding: 1rem 3rem;
  border-radius: 25px;
  transition: 0.5s;
}

input[type='button']:hover {
  border: 1px solid var(--color-background);
  color: var(--color-background);
  background-color: var(--color-fonts);
}

.results {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}
